.navigation{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: fixed;
    top: 100px;
    background-color: #0D1F8D;
    padding: 20px;	

     overflow: hidden;

    .nav-link {
      text-decoration: none;
      color: white;
      cursor: pointer;
      text-align: center;
    }   
    
    
   
  }
 .scrolled1 {
 top: 60px;

 }