.navigation {
  width: 100%;
  position: fixed;
  top: 170px;
  background-color:#4653a9;
  transition: top 0.3s ease;
  z-index: 10;
  
  .nav-group {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
 
    margin: 0 70px;
    word-wrap: none;
  }  
  .nav-link {
    left: 25px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    margin: 5px;
    position: relative;
    font-size: 0.9rem;

    &:hover {
      color: #ffeb3b; // Optional: color change on hover
    }
  }
  .dropdown {
    position:absolute;
    top: 1.75em;
    left: 0;
    background: white;
    color: #333;
    list-style: none;
  
    border: 1px solid #9e8383;
    border-radius: 10px;
  
  }
  
  .dropdown li {
    padding: 0.3rem 1.5rem;
  }
  .dropdown li a {
   text-decoration: none;
  }
  
  .dropdown li:hover {
    background: #f0f0f0;
  }
  
  @media (max-width: 768px) {
    display: none;
  } 
    
}

.scrolled1 {
  top: 70px;
  transition: top 0.3s ease;
}

// Sidebar styles
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: -350px; // Start off-screen
  height: 100%;
  width: 350px;
  background-color: #191920;
 
  flex-direction: column;
  padding: 90px;
  margin: 0;
  z-index:100;
  border:5px solid #1414a0;
  transition: right 0.4s ease; // Transition for smooth sliding
 
  .nav-link {
    color: rgb(223, 223, 58);
    text-align: left;
    position: relative;
    top: 80px;
    font-size: 1rem;
    margin: 15px;
    z-index: 100;
    text-decoration: none;
  }
// Show sidebar on small screens
@media (max-width: 768px) {
  display: flex;
  
}
}

// Class to control sidebar open state
.sidebar-open {
right: 0; // Move sidebar into view

}
.sidebar-icon {
  display: none;

  // Show icon on small screens
  @media (max-width: 768px) {
    display: block;
    position: absolute;
    top: 55px;
  
    right: 20px;
    z-index: 101;
    cursor: pointer;
    font-size: 2.5rem;
    color: rgb(252, 251, 253);
  }
}
 

