/*  .navigatio {
    width: 100%;

    
    background-color: #cfd2e6;
    transition: top 0.3s ease;
    z-index: 1000;
  
    .nav-grou {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 20px;
      margin: 10px;
    }
  
    .nav-lin {
      text-decoration: none;
      color: rgb(4, 4, 4);
      cursor: pointer;
      padding: 0 10px;
      margin: 5px;
      font-size: 0.9rem;
  
      &:hover {
        color: #ffeb3b;
      }
    }
  
    // Hide original navigation on small screens
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  // Sidebar styles
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: -250px; // Start off-screen
    height: 100%;
    width: 250px;
    background-color: #e8e9f0;
    z-index: 1001;
    flex-direction: column;
    padding: 90px;
    margin: 0;
    transition: right 0.4s ease-in-out; // Transition for smooth sliding
  
    .nav-lin {
      color: rgb(182, 45, 45);
      text-align: left;
      font-size: 1rem;
      margin: 5px;
    }
  // Show sidebar on small screens
  @media (max-width: 768px) {
    display: flex;
  }
}

// Class to control sidebar open state
.sidebar-open {
  right: 0; // Move sidebar into view
}
  .sidebar-icon {
    display: none;
  
    // Show icon on small screens
    @media (max-width: 768px) {
      display: block;
      position: fixed;
      top: 20px;
      right: 80px;
      z-index: 1002;
      cursor: pointer;
      font-size: 1.5rem;
      color: rgb(37, 36, 36);
    }
  }
    */