.nav-flex {
	display: flex;
	align-items: center;
	justify-content:first baseline;
	height: 170px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	color: #545035;//#ecd20a;
	padding: 0 20px;
	background-image: url('../../assets/5877569819119830495.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	transition: all 0.3s ease-in-out;
	
	img {
	  width: 150px;
	  height: 150px;
	  margin-left: 50px;
	  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
	}
  
	h2 {
	  font-size: 1.5rem;
	  word-spacing: 2px;
	  padding: 0 30px;
	  transition: font-size 0.3s ease-in-out;
	}
  }
  
  .scrolled {
	height: 70px;
	padding: 5px 15px;
	background-image: url('../../assets/heading.webp');
	background-size: cover;
	background-position: bottom;
  
	img {
	  width: 50px;
	  height: 50px;
	}
  
	h2 {
	  font-size: 1rem;
	}
  }
  .nav-flex::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3); 
	z-index: -1; 
  }
  // Responsive styles for smaller screens
  @media (max-width: 768px) {
	.nav-flex {
	  justify-content: center;
	  padding: 0 5px; // Reduce padding on small screens
	  h2 {
		font-size: 1rem;
		
		transition: font-size 0.3s ease-in-out;
	  }

	  img {
		width: 80px;  // Adjust image size on smaller screens
		height: 80px;
	  }
	}
  
	.scrolled {
	  padding: 5px 10px;
	
  
	img {
	  width: 60px;  // Adjust image size on smaller screens
	  height: 60px;
	}
  
	h2 {
	  font-size: 0.7rem;  // Adjust heading font size for better readability
	  text-align: center;  // Center the text on small screens
	}

}
  }
  
  // Further adjustments for very small screens (e.g., mobile phones)
  @media (max-width: 486px) {
	.nav-flex {
	  //height: 80px;  // Reduce height for very small screens
	  padding: 0 5px;
	  img {
		width: 40px;  // Even smaller logo for very small screens
		height: 40px;
	  }
	
	  h2 {
		font-size: 0.4rem;  // Smaller font size for mobile phones
	  }
	}
  
	
  }
  