.structure {
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
    .structure-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image {
            width: 50vh;
            height:50vh;
            left: 40%;
        }
    }
    .structure-flex {
        padding: 0 50px;
        margin: 10px;
        h2 {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                left: calc(100% + 5px);  // start the line a bit after the end of text
                top: 50%;  // vertically center align the line
                transform: translateY(-50%);  // offset for exact center alignment
                height: 0.5px;  // line thickness
                
                width: calc(100vw );  // adjust the line length
                max-width: calc(100vw - 40vw);  // stops the line within the padding
           
                background-color:  #ead2d2;   //  #ead2d2; change color as per design
            }
        
        }
        
    
    }
    .stracture-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        margin: 10px;
     
        .img-str {
            width: 80%;
            height: 80%;
           
        }
    }


    
    
}